# Ignore object and binary directories
/bin/
/obj/

# Ignore Visual Studio temporary files
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.vcxproj.user
*.suo
*.ncb
*.log
*.cache
*.vs/

# Ignore log or backup files
*.log
*.bak

# Ignore Docker-related temporary files
docker-server/*.log
docker-server/tmp/
